In [28]:
%run GasHPWH_Model_MixedTank_Simulation.py

Code block 'read from csv' took: 3.33511 ms
Code block 'initial manipulations' took: 6.77481 ms
Code block 'nested for loop 126 - 145' took: 147.06380 ms
Code block '1' took: 1.49789 ms
Code block '2' took: 1.31100 ms
Code block '4' took: 1.17537 ms
Code block '5' took: 1.00680 ms
Code block '6' took: 1.95970 ms
Code block '1' took: 0.81806 ms
Code block '2' took: 0.57144 ms
Code block '4' took: 0.53795 ms
Code block '5' took: 0.49669 ms
Code block '6' took: 0.48540 ms
Code block 'modeling calculations' took: 5464.60968 ms
Code block 'final changes to Model' took: 4.89208 ms
Code block 'write to csv' took: 38.80490 ms
Simulation time is 5.671852111816406

In [66]:
Test_Model = Model.copy()
# Test_Model.insert(loc = 0, column = "reference_index", value = Test_Model.index) #for reference in numpy frame
column_names = Test_Model.columns
data = Test_Model.to_numpy()
New_Model = pd.DataFrame(data=data[0:,0:],index=Test_Model.index,columns=Test_Model.columns)

New_Model = pd.DataFrame(data=data[1:,1:],index=data[1:,0],columns=column_names)

In [46]:
New_Model = pd.DataFrame(data=data[1:,1:],index=data[1:,0],columns=data[0,1:])

In [67]:
New_Model

,Time (min),Hot Water Draw Volume (gal),Ambient Temperature (deg F),Inlet Water Temperature (deg F),Tank Temperature (deg F),Jacket Losses (Btu),Energy Withdrawn (Btu),Energy Added Backup (Btu),Energy Added Heat Pump (Btu),Energy Added Total (Btu),COP Gas,Total Energy Change (Btu),Elec Energy Demand (Watts),Electric Usage (W-hrs),Gas Usage (Btu),NOx Production (ng),Energy Added Heat Pump (Btu/min)
0,5.0,0.0,68.0,40.0,135.000000,0.000000,0.0,0.0,0.000000,0.000000,1.696600,NaN,5.0,0.416667,0.000000,0.0,0.000000
1,10.0,0.0,68.0,40.0,135.000000,-197.179077,-0.0,0.0,0.000000,0.000000,1.696600,-197.179077,5.0,0.416667,0.000000,0.0,0.000000
2,15.0,0.0,68.0,40.0,134.674606,-196.221452,-0.0,0.0,0.000000,0.000000,1.697413,-196.221452,5.0,0.416667,0.000000,0.0,0.000000
3,20.0,0.0,68.0,40.0,134.350793,-195.268478,-0.0,0.0,0.000000,0.000000,1.698223,-195.268478,5.0,0.416667,0.000000,0.0,0.000000
4,25.0,0.0,68.0,40.0,134.028552,-194.320132,-0.0,0.0,0.000000,0.000000,1.699029,-194.320132,5.0,0.416667,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,10060.0,0.0,68.0,40.0,134.358203,-195.290287,-0.0,0.0,1415.174486,1415.174486,1.698204,1219.884200,158.5,13.208333,833.335734,8792160.0,283.034897
2012,10065.0,0.0,68.0,40.0,136.371311,-201.214807,-0.0,0.0,0.000000,0.000000,1.693172,-201.214807,5.0,0.416667,0.000000,0.0,0.000000
2013,10070.0,0.0,68.0,40.0,136.039258,-200.237582,-0.0,0.0,0.000000,0.000000,1.694002,-200.237582,5.0,0.416667,0.000000,0.0,0.000000
2014,10075.0,0.0,68.0,40.0,135.708816,-199.265103,-0.0,0.0,0.000000,0.000000,1.694828,-199.265103,5.0,0.416667,0.000000,0.0,0.000000
2015,10080.0,0.0,68.0,40.0,135.379980,-198.297347,-0.0,0.0,0.000000,0.000000,1.695650,-198.297347,5.0,0.416667,0.000000,0.0,0.000000

In [65]:
Test_Model

,test,Time (min),Hot Water Draw Volume (gal),Ambient Temperature (deg F),Inlet Water Temperature (deg F),Tank Temperature (deg F),Jacket Losses (Btu),Energy Withdrawn (Btu),Energy Added Backup (Btu),Energy Added Heat Pump (Btu),Energy Added Total (Btu),COP Gas,Total Energy Change (Btu),Elec Energy Demand (Watts),Electric Usage (W-hrs),Gas Usage (Btu),NOx Production (ng),Energy Added Heat Pump (Btu/min),index_np
0,0,5,0.0,68,40,135.000000,0.000000,0.0,0.0,0.000000,0.000000,1.696600,NaN,5.0,0.416667,0.000000,0.0,0.000000,0
1,1,10,0.0,68,40,135.000000,-197.179077,-0.0,0.0,0.000000,0.000000,1.696600,-197.179077,5.0,0.416667,0.000000,0.0,0.000000,1
2,2,15,0.0,68,40,134.674606,-196.221452,-0.0,0.0,0.000000,0.000000,1.697413,-196.221452,5.0,0.416667,0.000000,0.0,0.000000,2
3,3,20,0.0,68,40,134.350793,-195.268478,-0.0,0.0,0.000000,0.000000,1.698223,-195.268478,5.0,0.416667,0.000000,0.0,0.000000,3
4,4,25,0.0,68,40,134.028552,-194.320132,-0.0,0.0,0.000000,0.000000,1.699029,-194.320132,5.0,0.416667,0.000000,0.0,0.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,2011,10060,0.0,68,40,134.358203,-195.290287,-0.0,0.0,1415.174486,1415.174486,1.698204,1219.884200,158.5,13.208333,833.335734,8792160.0,283.034897,2011
2012,2012,10065,0.0,68,40,136.371311,-201.214807,-0.0,0.0,0.000000,0.000000,1.693172,-201.214807,5.0,0.416667,0.000000,0.0,0.000000,2012
2013,2013,10070,0.0,68,40,136.039258,-200.237582,-0.0,0.0,0.000000,0.000000,1.694002,-200.237582,5.0,0.416667,0.000000,0.0,0.000000,2013
2014,2014,10075,0.0,68,40,135.708816,-199.265103,-0.0,0.0,0.000000,0.000000,1.694828,-199.265103,5.0,0.416667,0.000000,0.0,0.000000,2014
2015,2015,10080,0.0,68,40,135.379980,-198.297347,-0.0,0.0,0.000000,0.000000,1.695650,-198.297347,5.0,0.416667,0.000000,0.0,0.000000,2015

In [63]:
Model

,Time (min),Hot Water Draw Volume (gal),Ambient Temperature (deg F),Inlet Water Temperature (deg F),Tank Temperature (deg F),Jacket Losses (Btu),Energy Withdrawn (Btu),Energy Added Backup (Btu),Energy Added Heat Pump (Btu),Energy Added Total (Btu),COP Gas,Total Energy Change (Btu),Elec Energy Demand (Watts),Electric Usage (W-hrs),Gas Usage (Btu),NOx Production (ng),Energy Added Heat Pump (Btu/min)
0,5,0.0,68,40,135.000000,0.000000,0.0,0.0,0.000000,0.000000,1.696600,NaN,5.0,0.416667,0.000000,0.0,0.000000
1,10,0.0,68,40,135.000000,-197.179077,-0.0,0.0,0.000000,0.000000,1.696600,-197.179077,5.0,0.416667,0.000000,0.0,0.000000
2,15,0.0,68,40,134.674606,-196.221452,-0.0,0.0,0.000000,0.000000,1.697413,-196.221452,5.0,0.416667,0.000000,0.0,0.000000
3,20,0.0,68,40,134.350793,-195.268478,-0.0,0.0,0.000000,0.000000,1.698223,-195.268478,5.0,0.416667,0.000000,0.0,0.000000
4,25,0.0,68,40,134.028552,-194.320132,-0.0,0.0,0.000000,0.000000,1.699029,-194.320132,5.0,0.416667,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,10060,0.0,68,40,134.358203,-195.290287,-0.0,0.0,1415.174486,1415.174486,1.698204,1219.884200,158.5,13.208333,833.335734,8792160.0,283.034897
2012,10065,0.0,68,40,136.371311,-201.214807,-0.0,0.0,0.000000,0.000000,1.693172,-201.214807,5.0,0.416667,0.000000,0.0,0.000000
2013,10070,0.0,68,40,136.039258,-200.237582,-0.0,0.0,0.000000,0.000000,1.694002,-200.237582,5.0,0.416667,0.000000,0.0,0.000000
2014,10075,0.0,68,40,135.708816,-199.265103,-0.0,0.0,0.000000,0.000000,1.694828,-199.265103,5.0,0.416667,0.000000,0.0,0.000000
2015,10080,0.0,68,40,135.379980,-198.297347,-0.0,0.0,0.000000,0.000000,1.695650,-198.297347,5.0,0.416667,0.000000,0.0,0.000000